body {
    display:flex;
    height:100%;
    flex-direction:column;
    background-color: #E3EBEE;
    font-family: Verdana;
    font-size: small;
    padding:1vmax;
}
header {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1vmax;
    background-color: #E3EBEE;    
}
main {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:1vmax;
    margin-top:0;
    border-bottom-left-radius:0.5vmax;
    border-bottom-right-radius:0.5vmax;
    background-color: #f3f3f3;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    border: transparent;
    border-top-right-radius: 0.5vmax;
    border-top-left-radius: 0.5Vmax;
    margin-top:0;
    margin-bottom: 0;
    padding:1vmax;
}
section {
    display:flex;
    flex-direction:column;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 0.5vmax;

}
.footer {
    bottom: 0;
    width: auto;
    white-space: nowrap;
    line-height: 60px;
}
.container{
    display:flex;
    justify-content:center;
    
}
.container--column {
    display:flex; 
    flex-direction:column; 
    justify-content:space-around; 
    margin:0.3vmax;
}
label{
    text-align:left;
}
.loggo{
    justify-content:center;
    width: 10vmax;   
}
h1 {
  font-family: Georgia;
  font-size: xx-large;
}
h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
h4 {
  font-size: small;
}
.text-danger {
    color: #FE4D49;
}
a:link{
    text-decoration:none;
}
.btn {
    padding: 0.2vmax;
    border-radius: 0.2vmax;
    font-size: 1em;
    font-family: verdana;
    margin: 0.3vmax;
    transition-duration: 0.4s;
    border-style: none;
}
.btn--standard {
    background-color: #E3EBEE;
    color: black;
}
.btn--standard:hover {
    background-color: #f3f3f3;
    color: black;
}
.btn--positiv {
    background-color: #82FF9F;
    color: black;
}
.btn--positiv:hover {
    background-color: #4DFF61;
    color: black;
}
.btn--negativ {
    background-color: #FE8080 ;
    color: black;
}
.btn--negativ:hover {
    background-color: #FE4D49;
}
table{
    display:flex;
    justify-content:center;  
    overflow-x: auto;
    margin-bottom:0.8vmax;
}
tr {
    border: 1vmax solid #EDEDED;
    text-align: left;
}
tr:nth-child(odd) {
    background-color: #EDEDED;
}
th {
    padding:0.5vmax;
    background-color: #E3EBEE;
}
td{
    padding:0.5vmax;
    text-align:left;
}
ul {
    display:flex;
    justify-content:center;
  text-align: left;
}
ol {
  text-align: left;
}
li{
    display:flex;
    justify-content:center;
}
.box-shadow {
    border-radius: 0.5vmax;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
}
