@page
@model FribergCarRentalsRazorP.Pages.Customers.HomeModel
@{
    ViewData["Title"] = "Home";
}
<p>
    <a asp-page="/Bookings/Index">Bookings</a>
    <a asp-page="/Bookings/IndexVehicleBooking">Vehicles</a>
    <a asp-page="./Logout">Logout</a>
</p>
