@page
@model FribergCarRentalsRazorP.Pages.Customers.HomeModel
@{
    ViewData["Title"] = "Home";
}
<p>
    <a asp-page="/Bookings/Index">Bokningar</a>
    <a asp-page="/Bookings/IndexVehicleBooking">Fordon</a>
</p>
