@page
@model FribergCarRentalsRazorP.Pages.Customers.HomeModel
@{
    ViewData["Title"] = "Home";
}
<nav>
	<a class="btn btn--standard box-shadow" asp-page="/Bookings/Index">Bookings</a>
	<a class="btn btn--standard box-shadow" asp-page="/Bookings/IndexVehicleBooking">Vehicles</a>
	<a class="btn btn--negativ box-shadow" asp-page="./Logout">Logout</a>
</nav>
<main>
</main>