@page
@model FribergCarRentalsRazorP.Pages.Customers.LogoutModel

@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <h2>Do you wish to logout?</h2>
        <form method="post">
    <input type="submit" value="Yes" class="btn btn-danger"/>
    </form>
    <a href="./Home" class="btn btn-primary">No</a>
</div>
