@page
@model FribergCarRentalsRazorP.Pages.Bookings.BookingSuccessModel
@{
    ViewData["Title"] = "BookingSuccess";
}
<div>
<h2>
    Bookning successful  
</h2>
    <a asp-page="/Customers/Home">Home</a>
</div>