@page
@model FribergCarRentalsRazorP.Pages.Bookings.BookingSuccessModel
@{
    ViewData["Title"] = "BookingSuccess";
}
<nav></nav>
<main>
    <section>
		<h2>Bookning successful</h2>
	</section>
	<section>
		<div>
			<a class="btn btn--positiv box-shadow" asp-page="/Customers/Home">Home</a>
		</div>
	</section>
</main>