@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<nav>
	<div class="container">
		<a class="btn btn--standard box-shadow" asp-page="/Bookings/IndexVehicleBooking">Vehicles</a>
		<a class="btn btn--standard box-shadow" asp-page="/Customers/Login">Customer Login</a>
	</div>
</nav>
<main>
<section>
    <h1>Welcome to Friberg car rentals</h1>
</section>
</main>
