@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<nav>
    <a class="btn btn--standard" asp-page="/Bookings/IndexVehicleBooking">Vehicles</a>
    <a class="btn btn--standard" asp-page="/Customers/Login">Customer Login</a>
    <a class="btn btn--standard" asp-page="/Admins/Index">Admin Login</a>
</nav>
<section>
    <h1>Welcome to Friberg car rentals</h1>
</section>
