@page
@model FribergCarRentalsRazorP.Pages.Admins.EditModel

@{
    ViewData["Title"] = "Edit";
}
<nav></nav>
<main>
    <section>
        <h1>Edit Admin</h1>
    </section>
    <section>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Admin.Id" />
            <div class="container">
                <div class="form-group container--column">
				    <label asp-for="Admin.FirstName" class="control-label"></label>
                    <br />
				    <label asp-for="Admin.LastName" class="control-label"></label>
                    <br />
				    <label asp-for="Admin.Email" class="control-label"></label>
                    <br />
				    <label asp-for="Admin.Password" class="control-label"></label>    
                </div>
                <div class="form-group container--column">
				    <input asp-for="Admin.FirstName" class="form-control" />
				    <span asp-validation-for="Admin.FirstName" class="text-danger"></span>
                    <br />
                    <input asp-for="Admin.LastName" class="form-control" />
                    <span asp-validation-for="Admin.LastName" class="text-danger"></span>
                    <br />
				    <input asp-for="Admin.Email" class="form-control" />
				    <span asp-validation-for="Admin.Email" class="text-danger"></span>
                    <br />
				    <input asp-for="Admin.Password" class="form-control" />
				    <span asp-validation-for="Admin.Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn--positiv box-shadow" type="submit" value="Save" />
                <a class="btn btn--standard box-shadow" asp-page="./List">Back to List</a>
            </div>
        </form>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
