@page
@model FribergCarRentalsRazorP.Pages.Admins.HomeModel
@{
    ViewData["Title"] = "Home";
}
<p>
    <a asp-page="/Bookings">Bokningar</a>
    <a asp-page="/Vehicles">Fordon</a>
    <a asp-page="/Customers">Kunder</a>
    <a asp-page="./List">Admins</a>   
</p>
