@page
@model FribergCarRentalsRazorP.Pages.Admins.HomeModel
@{
    ViewData["Title"] = "Home";
}
<p>
    <a asp-page="/Bookings/Index">Bokningar</a>
    <a asp-page="/Vehicles/Index">Fordon</a>
    <a asp-page="/Customers/Index">Kunder</a>
    <a asp-page="./List">Admins</a>   
</p>
