@page
@model FribergCarRentalsRazorP.Pages.Admins.HomeModel
@{
    ViewData["Title"] = "Home";
}
<p>
    <a asp-page="/Bookings/Index">Bookings</a>
    <a asp-page="/Vehicles/Index">Vehicles</a>
    <a asp-page="/Customers/Index">Customers</a>
    <a asp-page="./List">Admins</a>   
    <a asp-page="./Logout">Logout</a>
</p>
