@page
@model FribergCarRentalsRazorP.Pages.Admins.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<nav></nav>
<main>
    <section>
        <h1>Logout</h1>
    </section>
    <section>
        <div class="container--column">
            <h2>Do you wish to logout?</h2>
            <div class="container">
                <form method="post">
                    <input class="btn btn--positiv box-shadow" type="submit" value="Yes" />
                </form>
                <a class="btn btn--negativ box-shadow" href="./Home">No</a>
            </div>
        </div>
    </section>
</main>